<nav>
  <div><%= link_to 'Site Logo', root_path %></div>
  <div><%= link_to 'Home', root_path %></div>
  <div><%= link_to 'About', about_path %></div>
  <div><%= link_to 'Help', help_path %></div>
</nav>
